<div>
  <div width="100%">
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr> 
          <td style="padding: 20px 0 20px 0" align="center" valign="top">
            <table width="700" cellspacing="0" cellpadding="10" bgcolor="#ffffff"> 
              <tbody>
                <tr> 
                  <td bgcolor="#4D6E5E" align="center" style="height: 60px">
                    <font size="6" color="white"><%= @invoice.company_name %></font>
                  </td> 
                </tr> 
                <tr> 
                  <td valign="top" align="center">
                    <h2>Factura Anulada</h2>
                  </td> 
                </tr> 
                <tr> 
                  <td> 
                    <div>  
                      <div><ul>
                        <li>Nro Factura: <b><%= @invoice.number %></b></li>
                        <li>Razón Social: <b><%= @invoice.company_name %></b></li>
                        <li>Codigo de control: <b><%= @invoice.cuf %></b></li>
                        <li>Fecha de anulación: <b><strong><%= @invoice.cancellation_date.strftime('%Y-%m-%d %H:%M:%S') %></strong></b></li>
                        <li>Motivo de anulación: <b><strong><%= @reason.description %></strong></b></li>
                      </ul></div>                  
                    </div> 
                  </td> 
                </tr> 
              </tbody>
            </table> 
            <table width="700" cellspacing="0" cellpadding="10" bgcolor="#">
              <tbody>
                <tr> 
                  <td style="background: #4D6E5E; color: white" align="center" bgcolor="#eaeaea">
                    <center>
                      <p style="font-size: 12px; margin: 0"></p> 
                    </center> 
                  </td> 
                </tr> 
              </tbody>
            </table> 
          </td> 
        </tr> 
      </tbody>
    </table>
  </div>
</div>
