<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <head>
      <title>PDFs - Ruby on Rails</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <%= wicked_pdf_stylesheet_link_tag "invoice" %>
  </head>
  <body> 
    <div class="container mx-0 px-0">
      <div class="w-100 text-center" style="border-bottom: 1px solid #000;">
        <%= image_tag @company.logo, style: 'max-height:100px;width:auto;' %>
        <h5 class="m-0 pt-2 pb-0"><strong>FACTURA</strong></h5>
        <h5 class="m-0 pt-2 pb-0"><strong>CON DERECHO A CRÉDITO FISCAL</strong></h5>
        <h5 class="m-0 pt-2 pb-0"><%= @company.name %></h4>
        <h5 class="m-0 py-0"><%= @branch_office.name %></h4>
        <h5 class="m-0 py-0">No. Punto de Venta <%= @invoice.point_of_sale %></h4>
        <h5 class="m-0 py-0"><%= @branch_office.address %></h5>
        <h5 class="m-0 py-0"><%= @branch_office.phone %></h5>
        <h5 class="m-0 py-0"><%= @branch_office.city %></h5>
      </div>
      <div class="table-responsive" style="border-bottom: 1px solid #000;">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr style="line-height:13px;height:13px;">
              <td class="text-right w-50">NIT:</td>
              <td><%= @invoice.company_nit %></td>
            </tr>
            <tr style="line-height:13px;height:13px;">
              <td class="text-right">FACTURA No:</td>
              <td><%= @invoice.number %></td>
            </tr>
            <tr style="line-height:13px;height:13px;">
              <td colspan="2" class="text-center">CÓD. AUTORIZACIÓN:</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center text-break"><%= @invoice.cuf %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class="table table-sm table-borderless my-0 py-0" style="border-style: none none double;">
        <tbody>
          <tr style="line-height:13px;height:13px;">
            <td><strong>NOMBRE/RAZÓN SOCIAL:</strong></td>
            <td class="text-break"><strong><%= @invoice.business_name %></strong></td>
          </tr>
          <tr style="line-height:13px;height:13px;">
            <td><strong>NIT/CI/CEX:</strong></td>
            <% if @invoice.document_type == 1 %>
              <td><strong><%= @invoice.business_nit %>-<%= @invoice.complement %></strong></td>
            <% else %>
              <td><strong><%= @invoice.business_nit %></strong></td>
            <% end %>
          </tr>
          <tr style="line-height:13px;height:13px;">
            <td><strong>Cod. Cliente:</strong></td>
            <td><strong><%= @invoice.client_code %></strong></td>
          </tr>
          <tr style="line-height:13px;height:13px;">
            <td style="width:30%"><strong>Fecha:</strong></td>
            <td><strong><%= @invoice.date.strftime("%d/%m/%Y %H:%M") %></strong></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-sm table-borderless my-0 py-0" style="border-bottom: 1px solid #000;">
        <thead>
          <th colspan="4" class="text-center">DETALLE</th>
        </thead>
        <thead style="line-height:13px;height:13px;">
          <th>Cod. Desc.</th>
          <th>Cantidad</th>
          <th class="text-right">Precio</th>
          <th class="text-right">Dcto.</th>
          <th class="text-right">Total</th>
        </thead>
        <tbody>
          <% @invoice.invoice_details.each do |detail| %>
            <tr style="line-height:13px;height:13px;">
              <td colspan="4"><%= detail.product_code %> <%= detail.description %></td>
            </tr>
            <tr style="line-height:13px;height:13px;">
              <td style="width:15%" class="text-right"><%= detail.quantity.to_i %></td>
              <td>PZA</td> 
              <%# <%= detail.measurement.description %>
              <td class="text-right"><%= '%.2f' % detail.unit_price %></td>
              <td class="text-right"><%= '%.2f' % detail.discount %></td>
              <td class="text-right"><%= '%.2f' % detail.total %></td>
            </tr>
          <% end %>
          <%# Discount ??? %>
        </tbody>
      </table>
      <div class="pl-4">
        <table class="table table-sm table-borderless my-0 py-0">
          <tbody>
            <tr style="line-height:13px;height:13px;">
              <td>Subtotal:</td>
              <td class="text-right"><%= '%.2f' % @invoice.subtotal %></td>
            </tr>
            <tr style="line-height:13px;height:13px;">
              <td>Descuento:</td>
              <td class="text-right"><%= '%.2f' % @invoice.discount %></td>
            </tr>
            <%# Gift card? QR? another payments? %>
            <% if @invoice.card_number.present? %>
              <tr style="line-height:13px;height:13px;">
                <td>Tarjeta Cred:</td>
                <td class="text-right"><%=@invoice.card_paid %></td>
              </tr>
              <tr style="line-height:13px;height:13px;">
                <td>Nro:</td>
                <td class="text-right"><%=@invoice.card_number %></td>
              </tr>
            <% end %>
            <tr style="line-height:13px;height:13px;">
              <td>Total a pagar Bs.:</td>
              <td class="text-right"><%= '%.2f' % @invoice.total %></td>
            </tr>
            <tr style="line-height:13px;height:13px;">
              <td>Importe base crédito fiscal Bs.:</td>
              <td class="text-right"><%= '%.2f' % @invoice.total %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-100" style="border-top: 1px solid #000;">
        <div class="m-0 py-0">SON: <%= @literal_amount.upcase %> Bs.</div>
      </div>
      <div class="w-100 m-0 py-3">Usr.: <%= @invoice.user %></div>
      <div class="text-center">
        ESTA FACTURA CONTRIBUYE AL DESARROLLO DEL PAÍS, EL USO ILÍCITO SERÁ SANCIONADO PENALMENTE DE ACUERDO A LEY
      </div>
      <div class="pt-1 text-center"><p class="fs-4"><%= @invoice.legend %></p></div>
      <div class="pt-2 px-2 text-center">"<%= @invoice.graphic_representation_text %>"</div>
      <div class="pt-2 text-center"><strong>NO SE ACEPTAN CAMBIOS NI DEVOLUCIONES</strong></div>
      <div class="text-center pt-2">
        <%= image_tag(embed_remote_image(@qr_code_file, 'image/png')) %>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>